<div>
  <h1>All the wonderful cocktails</h1>

  <h2>
    <% @cocktails.each do |cocktail| %>
      <%= cocktail.name %>
      <%= link_to "", cocktail_path(cocktail) %>
    <% end %>
  </h2>

  <%= link_to "Add a cocktail", new_cocktail_path %>
</div>


